.forecast-btn-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border-radius: 1.4rem;
  margin: 0 auto;
  padding-top: 1rem;
}

@media screen and (min-width: 900px) {
  .forecast-btn-wrapper{
    grid-column: 1;
    grid-row: 3;
    padding-top: 3rem;
  }
}
